body{
	background-color:#ffffff;
	font-family:Georgia,Times,Serif;
	font-size:13px;
	line-height:18px;
	color:#633031;
	margin:12px;
}
a{
	color:#ffbb55;
	text-decoration:none;
}
a:visited{
	color:#ac997e;
	text-decoration:none;
}
a:hover{
	background-color:#e4ebd2;
	text-decoration:none;
}