body{
	background-color:#ffffff;
	font-family:Georgia,Times,Serif;
	font-size:13px;
	line-height:18px;
	color:#003366;
	margin:12px;
}

a:link{
	color:#8fa9e6;
}

a:visited{
	color:#cc66cc;
}

a:hover{
	background-color:#cad9e5;
}