body{
	background-color:#f0dcae;
	margin:0px;
	color:#58283D;
}
a{
	color:#ff602d;
	text-decoration:none;
}
a:visited .copy a:visited{
	color:#ff283d;
	text-decoration:none;
}
a:hover, .copy a:hover{
	background-color:#f0dcae;
	text-decoration:none;
}
.citation a:hover{
	color:#222222;
	background-color:#f0dcae;
}
.side_bar{
	background-color:#6d2842;
	color:#ffffff;
}
.inset{
	border-color:#ff602d;
	background-color:#6d2842;
}
.inset h2, .side_bar h2 {
	color:#f0dcae;
}
.inset a:link, .side_bar a:link {
	color:#ff602d;
}
.inset a:visited, .side_bar a:visited{
	color:#ff283d;
}
.inset a:hover, .side_bar a:hover{
	background-color:#f0dcae;
}
.q{
	border-color:#ff602d;
}
.a{
	border-color:#ff602d;
}
.quiz_a p{
	color:#ee4010;
}
.quiz_number{
	color:#6d2842;
}
.webliography, .bibliography{
	color:#58283d;
}
.webliography h1, .bibliography h1{
	color:#58283d;
}