body {
	background-image : url(../images/index_background3.gif);
	background-color : #CAD9E4;
	margin : 0px;
}
.intro {
	font-size : 12px;
	color : #00418d;
	line-height : 1.8em;
	font-family : Georgia, Times, Serif;
	background-image : url(../images/index_stars.gif);
	background-position : top right;
	background-repeat : no-repeat;
}
.menu_table {
	margin-bottom : 10px;
}
.item_cell p {
	font-size : 12px;
	line-height : 1.5em;
	font-family : Georgia, Times, Serif;
	padding : 0px 24px 0px 24px;
}
a.item_01 {
	color: #58283d;
	text-decoration: none;
}
a.item_01:visited {
	color: #58283d;
	text-decoration: none;
}
a.item_01:hover {
	color: #990000;
	text-decoration: underline;
}
a.item_02 {
	color: #003366;
	text-decoration: none;
}
a.item_02:visited {
	color: #003366;
	text-decoration: none;
}
a.item_02:hover {
	color: #990000;
	text-decoration: underline;
}
a.item_03 {
	color: #003366;
	text-decoration: none;
}
a.item_03:visited {
	color: #003366;
	text-decoration: none;
}
a.item_03:hover {
	color: #990000;
	text-decoration: underline;
}
a.item_04 {
	color: #225599;
	text-decoration: none;
}
a.item_04:visited {
	color: #225599;
	text-decoration: none;
}
a.item_04:hover {
	color: #990000;
	text-decoration: underline;
}
a.item_05 {
	color: #663333;
	text-decoration: none;
}
a.item_05:visited {
	color: #663333;
	text-decoration : none;
}
a.item_05:hover {
	color: #990000;
	text-decoration : underline;
}
.footer {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #663333;
	text-align : center;
}
a.footer:link {
	color : #663333;
	text-decoration : underline;
}
a.footer:visited {
	color : #331111;
	text-decoration : underline;
}
a.footer:hover {
	color : #990000;
	text-decoration : underline;
}
.logo {
	margin-top: 24px;
	text-align:center;
}