body{
	background-color:#cad9e5;
	margin:0px;
	color:#003366;
}
a{
	color:#8fa9e6;
	text-decoration:none;
}
a:visited{
	color:#cc66cc;
	text-decoration:none;
}
a:hover, .copy a:hover{
	background-color:#cad9e5;
	text-decoration:none;
}
.citation a:hover{
	color:#222222;
	background-color:#cad9e5;
}
.side_bar{
	background-color:#00418d;
}
.inset{
	border-color:#c464c9;
	background-color:#00418D;
}
.inset h2, .side_bar h2{
	color:#cad9e5;
}
.inset a:link, .side_bar a:link{
	color:#ff602d;
}
.inset a:visited, .side_bar a:visited{
	color:#cc66cc;
}
.inset a:hover, .side_bar a:hover{
	background-color:#cad9e5;
}
.q{
	border-color:#c464c9;
}
.a{
	border-color:#c464c9;
}
.quiz_a p{
	color:#4d7bb0;
}
.quiz_number{
	color:#00418d;
}
.form{
	background-color:#ffde5b;
	color:#003366;
}
.webliography,.bibliography{
	color:#003366;
}
.webliography h1, .bibliography h1{
	color:#003366;
}