body{
	background-color:#EFDBCE;
	margin:0px;
	color:#21559C;
}
a{
	color:#DAA520;
	text-decoration:none;
}
a:visited{
	color:#8C8A8C;
	text-decoration:none;
}
a:hover{
	background-color:#EFDBCE;
	text-decoration:none;
}
.citation a:hover{
	color:#222222;
	background-color:#f0dcae;
}
.side_bar{
	background-color:#5A3400;
	color:#FFFFFF;
}
.inset{
	border-color:#AD8A63;
	background-color:#5A3400;
}
.inset h2, .side_bar h2{
	color:#AD8A63;
}
.inset a:link, .side_bar a:link{
	color:#BD9A31;
}
.inset a:visited, .side_bar a:visited{
	color:#8C8A8C;
}
.inset a:hover, .side_bar a:hover{
	background-color:#EFDBCE;
}
.q{
	border-color:#AD8A63;
}
.a{
	border-color:#AD8A63;
}
.quiz_a p{
	color:#5A3400;
}
.quiz_number{
	color:#21559C;
}
.webliography,.bibliography{
	color:#21559C;
}
.webliography h1, .bibliography h1{
	color:#21559C;
}
.table{
	background-color:#AD8A63;
	margin:0px0px24px0px;
}
.table td{
	color:#21559C;
}
