body{
	background-color:#ffffff;
	font-family:Georgia,Times,Serif;
	font-size:13px;
	line-height:18px;
	color:#DEE7CE;
	margin:12px;
}
a{
	color:#DAA520;;
	text-decoration:none;
}
a:visited{
	color:#115533;
	text-decoration:none;
}
a:hover{
	background-color:#e4ebd2;
	text-decoration:none;
}