body{
	background-color:#DEE7CE;
	margin:0px;
	color:#003063;
}
a{
	color:#b4c750;
	text-decoration:none;
}
a:visited{
	color:#115533;
	text-decoration:none;
}
a:hover, .copy a:hover{
	background-color:#e4ebd2;
	text-decoration:none;
}
.citation a:hover{
	color:#222222;
	background-color:#e4ebd2;
}
.side_bar{
	background-color:#638E00;
	color:#ffffff;
}
.inset{
	border-color:#FFDF52;
	background-color:#638E00;
}
.inset h2, .side_bar h2{
	color:#FFDF52;
}
.inset a:link, .side_bar a:link{
	color:#B5C752;
}
.inset a:visited, .side_bar a:visited{
	color:#115533;
}
.inset a:hover, .side_bar a:hover{
	background-color:#E7EBD6;
}
.q{
	border-color:#FFDF52;
}
.a{
	border-color:#FFDF52;
}
.quiz_a p{
	color:#215500;
}
.quiz_number{
	color:#003366;
}
.webliography, .bibliography{
	color:#003063;
}
.webliography h1, .bibliography h1{
	color:#003063;
}
.table{
	background-color:#638E00;
	margin:0px0px24px0px;
}
.table td{
	color:#003063;
	font-family:Georgia,Times,Serif;
	font-size:13px;
	line-height:18px;
}
